*{
    background-color: #697BFF;
}
.divison{
    position:static;
    padding:90px;
    border:90px;
    margin:70px;
    left:50px;
    top:50px;
    width:400px;
    height:140px;
    background-color: #697BFF;

}
.right{
    
    top:0px;
    left:650px;
    height:100%;
    width:100%;
    position:fixed;
}
.text{
    position:relative;
    
    margin-left:400px;
    margin-top:500px;
   
    bottom:200px;
    color:green;
    text-align: center;
}#login{
    background-color: #4E60FF;
    height: 44px;
    width: 350px;
    left: 165px;
    top: 602px;
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
}.container {
    padding: 40px 160px;
}.log{
    height: 80px;
    width: 120px;
    display: inline-block;
}.inp{
    height: 44px;
    width: 350px;
    left: 0px;
    top: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 30px;
    background-color: white;
}.login{
    background-color: gray;
}.link{
    text-decoration: none;
}.ques{
    text-align: center;
    color: whitesmoke;
}